.justify-content-center{
	justify-content: center !important;
}
.dropdown-menu{
	height: 43px;
	padding: 10px 0px 0px 13px !important;
}
.label-align {
    text-align: right !important;
}
.box-carousel{
	margin: 88px auto 7px auto;
}
.pag{
  margin-top: 35px;
  margin-bottom: -20px;
}
@media screen and (max-width: 600px) {
  .navbar a, .navbar button, .navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;
  }
  .navbar button{
  	text-align: center;
  	height: 34px;
  	line-height: 0.6;
  }
  .navbar-brand img{
  	margin-left: 42px;
  }
  .box-carousel{
    margin: 219px auto 7px auto;
  }
}
.carousel-item img{
  height: 370px;
}
table tr td img{
  height: 117px;
}
.dt-buttons{
	margin-bottom: -30px;
}
.category-section{
	background-color: rgba(0,0,0,0.10);
}
.card-img-top{
  height: 200px;
}